<ion-tabs>
  <ion-tab-bar slot="bottom" color="secondary">
    <ion-tab-button tab="tablero">
      <ion-icon name="flash"></ion-icon>
      <ion-label>Tablero</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="actividad">
      <ion-icon name="apps"></ion-icon>
      <ion-label>Actividad</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="presupuesto">
      <ion-icon name="send"></ion-icon>
      <ion-label>Presupuesto</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="cuenta">
      <ion-icon name="send"></ion-icon>
      <ion-label>Cuenta</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
